{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="cover-heading">Film inconnu</h1>
    <p class="lead">Nous sommes désolés mais un film n'a pas été trouvé. Vous pouvez faire une nouvelle recherche ci-dessus.</p>
{% endblock %}