{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="cover-heading">{% trans %}500 Internal server error{% endtrans %}</h1>
    <p class="lead">{% trans %}Nous sommes désolé mais un soucis est intervenu, nous tentons de le résoudre au plus vite. Vous pouvez faire une nouvelle recherche ci-dessus.{% endtrans %}</p>
{% endblock %}