{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="cover-heading">{% trans %}Film inconnu{% endtrans %}</h1>
    <p class="lead">{% trans %}Nous sommes désolés mais un film n'a pas été trouvé. Vous pouvez faire une nouvelle recherche ci-dessus.{% endtrans %}</p>
{% endblock %}