{% extends '::base.html.twig' %}

{% block body %}
<h1 class="cover-heading">{% trans %}Bienvenue sur MoviesFinder{% endtrans %}</h1>
<p class="lead">{% trans %}Le site est en cours de construction mais vous pouvez faire votre première recherche via le menu ce dessus.{% endtrans %}</p>
<span>
    <a href="{{ path('_allMovies') }}" class="btn btn-bg btn-info">{% trans %}Accéder à mes films{% endtrans %}</a>
    <a href="{{ path('_uploadMovies') }}" class="btn btn-bg btn-info">{% trans %}Importer des films{% endtrans %}</a>
</span>
{% endblock %}