{% extends '::base.html.twig' %}

{% block body %}
<h1 class="cover-heading">Bienvenue sur MoviesFinder</h1>
<p class="lead">Le site est en cours de construction mais vous pouvez faire votre première recherche via le menu ce dessus.</p>
{% endblock %}