<table class="table">
    <tr>
        <th>Titre original</th>
        <td>{{ movie.originalTitle }}</td>
    </tr>
    <tr>
        <th>Titre</th>
        <td>{{ movie.title }}</td>
    </tr>
    <tr>
        <th>Année de production</th>
        <td>{{ movie.productionYear }}</td>
    </tr>
    <tr>
        <th>Synopsis</th>
        <td>{{ movie.synopsis }}</td>
    </tr>
</table>