{% extends '::general.html.twig' %}

{% block body %}
    <h1 class="cover-heading">{% trans %}Import terminé{% endtrans %} <a href="{{ path('_allMovies') }}" class="btn btn-bg btn-info">{% trans %}Accéder à mes films{% endtrans %}</a></h1>
    <p class="lead">{% trans %}L'import s'est terminé avec succès, les films suivants ont étés ajoutés à votre bibliothèque.{% endtrans %}</p>

    {#TODO: généraliser ça dans un teplate.#}
    <div style="width: 75%; margin: auto;">
        <div id="isotop-movies-container">
            {% for movie in moviesList %}
                <div class="item">
                    <img src="https://image.tmdb.org/t/p/w185/{{ movie.posterUrl }}" alt=""/>
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        // init Isotope
        var $container = $('#isotop-movies-container').isotope({
            // options
        });
    </script>
{% endblock %}